<header class="header-area wrapper-padding-2">
  <div id="main-menu" class="sticker header-sticky">
    <div class="container-fluid">
      <div class="logo-menu-wrapper">
        <div class="logo-watch navbar-header">
          <a class="navbar-brand" href="index.html"
            ><img src="assets/img/logo/WATCH.png" alt=""
          /></a>
        </div>
        <div class="hamburger-wrapper">
          <div
            class="hamburger-menu menu-style-toggle text-end"
            id="main-menu-2"
          >
            <nav class="">
              <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/shop">shop</a></li>
                <li><a href="#video-area">video</a></li>
                <li><a href="#features-area">features</a></li>
                <li><a href="#contact-area">contact</a></li>
              </ul>
            </nav>
            <div class="menu-toggle hamburger hamburger--squeeze">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </div>
          </div>
          <% if(!user){ %>
          <div class="buy-now-btn">
            <a href="/login">Sign in</a>
          </div>
          <div class="buy-now-btn">
            <a href="/register">Sign up</a>
          </div>
          <ul>

            <li class="m-3"><a href="/profile"><i class="ti-user text-danger"></i> Profile</a></li>

          </ul>

          <% }else{ %>
          <div
            class="cartdiv d-flex"
            style="align-items: center; margin-top: -3%">
            <div class="buy-now-btn m-2">
              <a href="/logout">Sign Out</a>
            </div>
            <div class="header-cart-2 m-2">
              <a class="icon-cart text-white" href="/cart">
                <i class="ti-shopping-cart"></i>
                <span id="cartCount" class="handicraft-count">cart</span>
              </a>
            </div>
            <div class="ml-1">
              <a href="/profile"><i class="ti-user text-danger"></i> <%=user.userName %></a>
            </div>
            
          </div>
         
          <%} %>
        </div>
      </div>
    </div>
  </div>
</header>

<style>

</style>
