<header class="header-area wrapper-padding-2">
    <div id="main-menu" class="sticker header-sticky">
        <div class="container-fluid">
            <div class="logo-menu-wrapper">
                <div class="logo-watch navbar-header">
                    <a class="navbar-brand" href="index.html"><img src="assets/img/logo/WATCH.png" alt=""></a>
                </div>
                <div class="hamburger-wrapper">
                    <div class="hamburger-menu menu-style-toggle text-end" id="main-menu-2">
                        <nav class="">
                            <ul>
                                <li><a href="#home-area">HOME</a></li>
                                <li><a href="#about-area">ABOUT US</a></li>
                                <li><a href="#shop-area">shop</a></li>
                                <li><a href="#video-area">video</a></li>
                                <li><a href="#features-area">features</a></li>
                                <li><a href="#contact-area">contact</a></li>
                            </ul>
                        </nav>
                        <div class="menu-toggle hamburger hamburger--squeeze">
                            <div class="hamburger-box">
                                <div class="hamburger-inner"></div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="buy-now-btn">
                        <a href="/login">Sign in</a>
                    </div>
                    <div class="buy-now-btn">
                        <a href="/register">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>