<div class=" ">
  <!-- Include cart-page.html content here -->
  <div
    class="breadcrumb-area pt-205 pb-210"
    style="background-image: url(assets/img/bg/breadcrumb.jpg)"
  >
    <div class="container">
      <div class="breadcrumb-content text-center">
        <h2>cart page</h2>
        <ul>
          <li><a href="#">home</a></li>
          <li>cart page</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- shopping-cart-area start -->
  <div class="cart-main-area pt-95 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1 class="cart-heading text-white fw-bold">Cart</h1>
          <% if (cartItems && cartItems.products.length>=0) { %>
          <form action="#">
            <div class="table-content table-responsive">
              <table>
                <thead>
                  <tr>
                    <th>remove</th>
                    <th>images</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <%if (cartItems){%> <%
                  cartItems.products.forEach((product,index)=>{ %>
                  <tr>
                    <td class="product-remove">
                      <a href="/cart/remove/<%=product.product._id %>"
                        ><i class="pe-7s-close"></i
                      ></a>
                    </td>
                    <td class="product-thumbnail">
                      <a href="">
                        <%if(product.product&&product.product.images&&
                        product.product.images[0]&&product.product.images[0].thumbnailUrl){%>
                        <img
                          src="<% product.product.images[0].thumbnailUrl %>"
                          alt="Thumbnail"
                        />
                        <% } else { %>
                        <img src="" alt="" class="img-thumbnail" />
                        <% } %>
                      </a>
                    </td>
                    <td class="product-name">
                      <a href="#"> <%= product.product.title %> </a>
                    </td>
                    <td class="product-price-cart">
                      <span class="amount">$165.00</span>
                    </td>
                    <td class="product-quantity">
                      <input value="1" min="1" type="number" />
                    </td>
                    <td class="product-subtotal">$165.00</td>
                  </tr>
                  <% }) %> <% } %>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="coupon-all">
                  <div class="coupon">
                    <input
                      id="coupon_code"
                      class="input-text"
                      name="coupon_code"
                      value=""
                      placeholder="Coupon code"
                      type="text"
                    />
                    <input
                      class="button"
                      name="apply_coupon"
                      value="Apply coupon"
                      type="submit"
                    />
                  </div>
                  <div class="coupon2">
                    <input
                      class="button"
                      name="update_cart"
                      value="Update cart"
                      type="submit"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 ms-auto">
                <div class="cart-page-total">
                  <h2>Cart totals</h2>
                  <ul>
                    <li>Subtotal<span>100.00</span></li>
                    <li>Total<span>100.00</span></li>
                  </ul>
                  <a href="#">Proceed to checkout</a>
                </div>
              </div>
            </div>
          </form>
          <% } else { %>

<div class="text-center">
  <p>No Items in the cart</p>
  <a href="/shop" class="btn btn-dark h-auto">Shop Now</a>
</div>
<% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  /* Custom styles for a black background and responsiveness */
  body {
    background-color: #000;
    color: #fff;
  }

  .cart-main-area {
    background-color: #111;
    padding: 50px 0;
    border-radius: 10px;
  }

  .cart-heading {
    color: #ffffff;
  }

  table {
    color: #fff;
  }

  .product-thumbnail img {
    max-width: 100px;
    height: auto;
  }

  .product-quantity input {
    width: 50px;
  }

  .coupon input[type="text"] {
    width: 100%;
    padding: 10px;
  }

  .cart-page-total {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  .cart-page-total h2 {
    color: #fff;
  }

  .cart-page-total ul li {
    list-style: none;
    font-size: 18px;
    margin: 10px 0;
  }

  a.btn.btn-primary {
    background-color: #f00;
    border: none;
  }
</style>
