<ul id="progressbar-1" class="mx-0 mt-0 mb-5 px-0 pt-0 pb-4">
    <li class="step0 active" id="step1"><span
        style="margin-left: 22px; margin-top: 12px;">PLACED</span></li>
    <li class="step0  text-center" id="step2"><span>SHIPPED</span></li>
    <li class="step0 text-muted text-end" id="step3"><span
        style="margin-right: 22px;">DELIVERED</span></li>
  </ul>