<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 center-content">
      <h1>Edit Category</h1>
      <form action="" method="post">
        <div class="input-group mb-3">
          <input type="text"  name="text"  class="form-control" value=<%=value.categoryName%> >
          <button class="btn btn-submit" type="submit" name="btn">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
<%-include('../partials/flashMessage.ejs')  %>

<script>
const message = document.getElementById('message');

const hide = () => {
  message.style.display = 'none';
}

setTimeout(hide, 3000);

</script>

<style>
  /* Style to add spacing from the top navbar */
 
  /* Center the content */
  h1{
      color: #fff;
  }   

  .center-content {
    text-align: center;
    margin-top: 250px; 
    background-color: rgb(0, 0, 0);
    height: 200px;
    padding-top: 40px;
    color: #fff;
  }

  /* Style for the input and button */
  .input-group {
    margin: 0 auto;
    max-width: 300px;
  }
  .input-group input::placeholder {
  color: #f7f7f7; /* Replace with your desired color */
}

  /* Style for the button */
  .btn-submit {
    background-color: #ffffff;
    color: #000000;
    border: none;
  }
</style>